
body {
    b1ackground-image: -webkit-linear-gradient(#f5f3f3,silver);
    b1ackground-image: linear-gradient(#f5f3f3,silver);
    background-color: white;
    font-family: Arial;
    font-size: 10pt;
}


.tdHead {
    height: 100px;
    background-color: #009FE3;
    position: fixed;
    left: 0px;
    width: 100%;
}

.lblHeadLeft {
    margin-left: 10px;
}

.lblHeadMid {
    color: white;
    font-size: 50px;
    display: inline-block;
}

.btnHeadRight {
    position: absolute;
    right: 20px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

    .btnHeadRight:active {
        color: black;
        background-color: white;
    }

.divHeadLbl {
    display: inline;
    color: white;
    font-size: 20px;
    height: 100px;
}


/* navigation and scrolling */

.divModuleHead {
    background-color: #009FE3;
    position: relative;
    width: 100%;
    height: 50px;

}

.lblModuleDesc {
    
    float: left;


    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: -1111;
    height: 100%;
    font-size: 35px;
    margin-top: 5px;
    vertical-align: middle;
}

.divMainHome {
    float: left;
    margin-left: 20px;
    height: 100%;
    
}

.divHome {
    height: 100%;
    position: relative;
    width: 120px;
}

.btnEnlarge {
    font-size: 30px;
    margin-top: 2px;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 10px;
    padding: 5px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.divModuleNavi {
    position: absolute;
    right: 55px;
    height: 100%;
    background-color: #009FE3;
}


.divNavi {

    width: 80px;
    display: inline-block;
    height: 100%;
    position: relative;
    clear: both;
    text-align: center;
}


.imgNavi {
    height: 80%;
    max-height: 70px;
    margin-top: 5px;
}

.txtNavi {
    margin: auto;

    font-size: 12pt;
    position: absolute;
    top: 79px;
    color: white;
    width: 100%;
    display: none;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 18px;
}

/*  end of style for head */

#lblNaviLeft {
    height: 50px;
}

.clsLabel {
    width: auto;
    display: inline-block;
    margin-left: 20px;
}

div.scrollNaviComplete {
    width: 870px;
    height: 75px;
    margin-bottom: 5px;
    color: White;
    overflow-x: scroll;
    -webkit-overflow-x: scroll;
    overflow-y: hidden;
}

div.scrollNavi {
    width: 600px;
    height: 75px;
    margin-bottom: 5px;
    overflow-x: scroll;
    color: White;
    -webkit-overflow-x: scroll;
    overflow-y: hidden;
}

div.scrollLeftComplete {
    width: 870px;
    height: 5px;
    text-align: left;
    color: White;
    position: relative;
    top: -8px;
}

div.scrollLeft {
    width: 600px;
    height: 5px;
    text-align: left;
    color: White;
    position: relative;
    top: -8px;
}

div.scrollRight {
    width: 600px;
    height: 5px;
    text-align: right;
    position: relative;
    color: White;
    top: -8px;
    padding-right: 10px;
}


/* navi sub */
.divNaviSub {
    width: 60px;
    height: 50px;
    display: inline;
    position: relative;
}

.imgNaviSub {
    width: 40px;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #009FE3;
}

.txtNaviSub {
    bottom: 4px;
    position: absolute;
    left: 0px;
    font-size: 12px;
    color: White;
    width: 120px;
    text-align: center;
}

/* ----------- navi scroll end ---------- */


/* -------- Appointment Styles ----------- */
.divAppointmentNew {
    height: 19px;
    color: Black;
    text-align: center;
    background-color: Silver;
}

.tdResourceHeader {
    1color:White;
    text-align: center;
    1text-shadow: black 0.1em 0.1em 0.15em;
    font-size: 10pt;
}

td.disabledTDHead {
    color: Grey;
}

.trResourceRow2 {
    background-color: White;
    height: 50px;
}

.trResourceRow1 {
    background-color: #EDF0FA;
    height: 50px;
}

.lblAppointmentDesc {
    font-size: 8pt;
}

.divAppointment {
    font-family: Arial;
    font-size: 11pt;
    vertical-align: top;
    background-color: #d6d2b8;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ------------------------------------------ */

.dialogTable 
{
    b1order: 1px solid #eee;
    b1ackground-image: -webkit-linear-gradient(#FDFDFD,#EEE);
    padding: 4px;
}

.cmdButton {
    border: 1px solid #ddd;
    background-color: #009FE3;
    color: #EEE;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    min-width: 80px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    font-size:10pt;
}

td {
    FONT-SIZE: 10pt;
}

.pageitem {
    padding: 2px;
}

.entryField input, select, textarea 
{
    font-size:10pt;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.entryField input, textarea, select
{
    -webkit-appearance:none;
}

input[type=checkbox] 
{
    -webkit-appearance:checkbox;
}

.entryField input[type=checkbox] 
{
    -webkit-appearance:checkbox;
}


.entryField button {
    margin: 2px;
    width: 100px;
    height: 25px;
    font-size: 10pt;
    background-color: #009FE3;
    color: #EEE;
    border: 1px solid darkgray;
    cursor: pointer;
}

td.dlgField 
{
    padding-left:30px;
}

.entryField 
{
}