
#cmdListFirst, #cmdListPrev, #cmdListNext, #cmdListLast {
    background-color: #EEE;
    border: 1px solid #ddd;
    cursor: pointer;
    -webkit-appearance:none;
}

TABLE.clsBrowserTable {
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    WIDTH: 100%;
    BORDER-BOTTOM: 0px;
}

TABLE.clsBrowserTableHead {
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    WIDTH: 100%;
    BORDER-BOTTOM: 0px;
    height: 25px;
    background-color: #009FE3;
}

TR.clsListHead {
    height: 25px;
}

TR.clsListHeadA {
    height: 25px;
}

TR.clsItemSel {
    PADDING-LEFT: 3px;
    VERTICAL-ALIGN: top;
    CURSOR: default;
    BACKGROUND-COLOR: #c4dafa;
}

TR.clsItem {
    PADDING-LEFT: 3px;
    VERTICAL-ALIGN: top;
    CURSOR: default;
    COLOR: black;
    BACKGROUND-COLOR: white;
}

TR.clsItem1 {
    PADDING-LEFT: 3px;
    VERTICAL-ALIGN: top;
    CURSOR: default;
    COLOR: black;
    BACKGROUND-COLOR: #f5f5f5;
}

.clsItem td {
    padding-top: 4px;
    padding-bottom: 4px;
}

.clsItem1 td {
    padding-top: 4px;
    padding-bottom: 4px;
}

.clsItemSel td {
    padding-top: 4px;
    padding-bottom: 4px;
}

.clsItemSel button, input[type=text] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 1px solid #ddd;
}

.clsItem button, input[type=text] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 1px solid #ddd;
}

.clsItem1 button, input[type=text] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 1px solid #ddd;
}

TD.clsHeadFieldL {
    PADDING-LEFT: 3px;
    BORDER-LEFT-COLOR: #b7b7b7;
    BORDER-BOTTOM-COLOR: #b7b7b7;
    PADDING-BOTTOM: 1px;
    color: white;
    BORDER-TOP-COLOR: #b7b7b7;
}

TD.clsHeadField {
    BORDER-LEFT: #b7b7b7 1px solid;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 1px;
    color: white;
}

TD.clsHeadFieldA {
    BORDER-RIGHT: #b7b7b7 1px solid;
    BORDER-BOTTOM: #b7b7b7 1px solid;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 1px;
    COLOR: white;
}

TD {
    FONT-SIZE: 10pt;
    FONT-FAMILY: helvetica,arial,sans-serif;
    font-weight: 100;
}

TD.clsItemTD {
    PADDING-LEFT: 3px;
}

TR.clsItemSum {
    COLOR: black;
    BACKGROUND-COLOR: #d6d3ce;
    TEXT-DECORATION: underline overline;
}

TR.clsItemDisabled {
}

DIV.clsEditHTML {
    border: 1px solid #7F9DB9;
    padding: 2px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.pageitem {
    padding: 2px;
}

.entryField input, select, textarea 
{
    font-size:10pt;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.entryField input, textarea, select
{
    -webkit-appearance:none;
}

input[type=checkbox] 
{
    -webkit-appearance:checkbox;
}

.entryField input[type=checkbox] 
{
    -webkit-appearance:checkbox;
}

.entryField button {
    margin: 2px;
    width: 100px;
    height: 25px;
    font-size: 10pt;
    background-color: #009FE3;
    color: #EEE;
    border: 1px solid #ddd;
    cursor: pointer;
}

.clsItem td input 
{
    font-size:10pt;
    border: 1px solid #ddd;
    margin-right:5px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    -webkit-appearance:none;
}
.clsItem1 td input 
{
    font-size:10pt;
    border: 1px solid #ddd;
    margin-right:5px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    -webkit-appearance:none;
}
.clsItem td input[type=checkbox] 
{
    -webkit-appearance:checkbox;
}
.clsItem1 td input[type=checkbox] 
{
    -webkit-appearance:checkbox;
}
.clsItem td button 
{
    font-size:10pt;
    border: 1px solid #ddd;
}
.clsItem1 td button 
{
    font-size:10pt;
    border: 1px solid #ddd;
}

