﻿body
{
	background-color: #96a8be;
	background-image: linear-gradient(lightsteelblue,slategray);

	font-family:arial;
}

td.lblNav
{
    padding:30pt;    
}


div.divNavi
{
    margin-top: 15px;
    margin-bottom: 15px;
}

td.clsHeadField
{
    background:#5E87B0;

}
td.clsHeadFieldL
{
    background:#5E87B0;
}
td.clsHeadFieldA
{
    background:#5E87B0;
}

td.tdHead
{
	padding-top:5px;
	padding-bottom:5px;
	font-family:helvetica,arial;
	font-size:16pt;
	text-align:center;
	color:White;
    background: #5E87B0;

	background-image: linear-gradient(lightsteelblue,slategray);
}

img.imgNavi
{
	padding-top:30px;
	padding-left:15px;	
	padding-right:15px;	
	border-width:0px;	
}

div.txtNavi
{
	padding-top:5px;
}

div.divNavi
{
    margin-bottom:20pt;
}

div.divListView
{
    overflow-y:scroll;
    height: 300px;    
}

button.cmdButton
{
    margin: -2px;
    width: 100px;
    height: 25px;
	font-size:10pt;
	background:#396B9E;
	color:White;

}

span.divNaviSub
{
	padding-bottom:50px;
}

span.txtNaviSub
{
	position:relative;
	top:20px;
	left:-50px;
}


.dialogTable
{	
    border-radius:0.6em;	
	border: 1px solid #CCC;
	background: #EEE;
	padding:4px;
}

.dlgField
{
	font-family: Helvetica,Arial,sans-serif;
	font-size:10pt;	
}

.entryField
{
	font-family: Helvetica,Arial,sans-serif;
	font-size:10pt;	
}

.entryField input
{
	font-size:10pt;	
}
.entryField select
{
	font-size:10pt;	
}

.entryField button
{
    margin: 2px;
    width: 100px;
    height: 25px;
	font-size:10pt;
	background-image: -webkit-linear-gradient(#5F9CC5,#396B9E);
	color:White;
	border-radius: 8px;
}

div.scrollNaviComplete
{
	width:870px;
	height:90px;
	margin-bottom:5px;
	overflow-x:scroll;
	-webkit-overflow-x:scroll;
	overflow-y:hidden;
}

div.scrollNavi
{
	width:600px;
	height:90px;
	margin-bottom:5px;
	overflow-x:scroll;
	-webkit-overflow-x:scroll;
	overflow-y:hidden;
}

div.scrollLeftComplete
{
	width:870px;
	height:5px;
	text-align:left;
	position:relative;
	top:-8px;
	color:gray;
}

div.scrollLeft
{
	width:600px;
	height:5px;
	text-align:left;
	position:relative;
	top:-8px;
	color:gray;
}

div.scrollRight
{
	width:600px;
	height:5px;
	text-align:right;
	position:relative;
	top:-8px;
	color:gray;
	padding-right:10px;
}
