﻿span.divModule
{
	width:170px;
	height:140px;
	margin:5px;
	display:inline-block;
}

img.imgModule
{
	padding-top:30px;
	left:50%;
	right:50%;
	padding-left:115px;	
	padding-right:115px;
	border-width:0px;	
	position:relative;
}

a.txtModule
{
	padding-top:10px;
	position:relative;
	left:50%;
	margin-left:-105px;
	width:200px;
	text-align:center;
	font-family:arial;
	display:block;
}

/* ie hack */
* html a.txtModule
{
	margin-left:-70px;
}


body
{
	background-color: #96a8be;
    background-image: linear-gradient(lightsteelblue,slategray);
}
td.tdHead
{
	padding-top:5px;
	padding-bottom:7px;
	font-family:helvetica,arial;
	font-size:16pt;
	text-align:center;
	color:White;
	background: #5E87B0;
}

div.divBackground
{
	width:100%;
	z-index:-3;
	position:absolute;
}
