body {

    background-color: white;
    ba1ckground-image: -webkit-linear-gradient(#f5f3f3,silver);
    ba1ckground-image: linear-gradient(#f5f3f3,silver);
    font-family: arial;
}

td.tdHead {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: helvetica,arial;
    font-size: 16pt;
    text-align: center;
    color: White;
    background-color: #009FE3;
    border-bottom: 1px solid white;
}

input.cmdLogin {
    background-color: #00587D;
    color: #EEE;
    padding: 10px;
    cursor: pointer;
    height: 45px;
    width: 150px;
    font-size: 20px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

input.txtLogin {
    width: 200px;
    font-size: 12pt;
}

div.lblErr {
    color: Red;
    font-size: 14pt;
}

div.divBackground {
    width: 100%;
    height: 100%;
    z-index: -3000;
    position: absolute;
}

select {
    border: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-border-radius: 0;
    background-color:white;
    -webkit-appearance:none;
    font-size:10pt;
}

input 
{
    border: 1px solid #eee;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    height: 30px;
    -webkit-border-radius: 0;
}

input[type=text] 
{
    -webkit-appearance:none;
}
input[type=password] 
{
    -webkit-appearance:none;
}


.loginCheckbox {
    vertical-align: middle;
    color: #00587D;
    width: 22px;
}

.lblLogin {
    width: 150px;
    text-align: left;
    font-size: 14pt;
    color: #00587D;
}

.lblLoginCbo {
    width: 150px;
    text-align: left;
    font-size: 14pt;
    color: #00587D;
}

.imgSplashMain {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.trLoginTile {
}

.tdLoginTile {
    margin-top: 2px;
    border-bottom: 1px solid #ccc;
    padding-left: 5px;
}
