



body
{
    background-color:white;
    b1ackground-image: -webkit-linear-gradient(#f5f3f3,silver);
    b1ackground-image: linear-gradient(#f5f3f3,silver);

    font-family: Arial;
}

.divBackground {

    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -111;
}

.divMain
 {
    margin-top: 10px;
    margin-left:10px;
    overflow-x: auto;   
    
}

.divModuleGroupDesc{
    
}

.divModuleGroup {

   margin-right:40px;
   float:left;
   position: relative;
   
}

.divModule {

    background-repeat: no-repeat;
    background-position-y: top;
    background-size: 150px 110px;
    
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

    height: 170px;
    width: 150px;
    text-decoration: none;
    position:relative;
    float:left;
}

.divModuleText {

    width: 140px;
    padding: 5px;

    text-decoration: none;
    color: white;
    background-color: #333;
    opacity: 0.8;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50px;
    margin-top: 10px;
    font-size: 12pt;
    overflow: hidden;
    text-overflow: ellipsis;

}

.divModuleInfo1 {

    font-size: 9pt;

    text-decoration: none;
    color: white;
    opacity: 0.8;
    position: absolute;
    left: 0px;
    bottom: 15px;

    margin-left: 5px;
    margin-right: 5px;
    width: 140px;
    height: 16px;

    overflow: hidden;
    text-overflow: ellipsis;

}

.divModuleInfo2 {

    font-size: 9pt;

    text-decoration: none;
    color: white;
    opacity: 0.8;
    position: absolute;
    left: 0px;

    bottom: 3px;

    margin-left: 5px;
    margin-right: 5px;
    width: 140px;
    height: 16px;
    
    overflow: hidden;
    text-overflow: ellipsis;

    
}



.imgModule {
    margin: 13px;
    text-decoration: none;
}

.tdHead {
    height: 30px;
    background-color: #009FE3;
    position: fixed;
    left: 0px;
    width:100%;
}


.lblHeadLeft {
    margin-left: 10px;
}

.lblHeadMid {
    margin-left: 10px;
    text-align: center;
}

.btnHeadRight {
    
    position: absolute;
    right: 20px;
    
    color: white;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    
    font-size: 20px;
}
.btnHeadRight:active {
    color: black;
    background-color: white;
}

.divHeadLbl {
    width: 33%;
    
    color: white;
    position: relative;
    float:left;

    font-size: 20px;
}
