<%@ Register TagPrefix="myfactory" Namespace="myfactory.FrontendSystem.AspControls" Assembly="wfAspControls" %>
<%@ Page inherits="ASP.Tab.Representatives.RepresentativesOrders" codefile="RepresentativesOrders.aspx.vb" EnableViewState="false" AutoEventWireup="false" Language="vb" %>

<HTML>
  <HEAD>
	<LINK href="../../../css/wfStyleMenu.css" type="text/css" rel="stylesheet" >
	<LINK href="../../../css/wfStyleDefault.css" type="text/css" rel="stylesheet" >
	<LINK href="../../../css/wfStyleDialogTable.css" type="text/css" rel="stylesheet" >

	<myfactory:wfpageheader id=ctlPageHeader runat="server"></myfactory:wfpageheader>
  </HEAD>


<body id=ctlBody leftMargin=0 topMargin=0 scroll=no runat="server">
<table class=borderTable height="100%" cellSpacing=0 cellPadding=0 width="100%">
<tr>
	<td>
	</td>
</tr>
</table>

</body>
</HTML>
