<%@ Page inherits="ASP.Tab.SalesOrderContracts.SalesOrderContractsAttributesData" codefile="SalesOrderContractsAttributesData.aspx.vb"  Language="vb" AutoEventWireup="false" %>
<html><body></body></html>